<!DOCTYPE html>
<html>
<head>
    <title>Text Summarizer</title>
    <link rel="stylesheet" type="text/css" href="/static//styles.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/styles.css">-->
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles.css') }}">-->



</head>
<body>
    <div class="container">
        <h1>Text Summarizer</h1>
        <div class="input-container">
            <textarea id="inputText" name = "inputText" placeholder="Enter your text here..."></textarea>
            <button id="summarizeButton">Summarize</button>
        </div>
        <div class="output-container">
            <h2>Summary</h2>
            <p id="summaryOutput"></p>
        </div>
    </div>
    <script src="/static//script.js"></script>
</body>
</html>
